<div class="container-fluid">
  <div class="row">
    <div class="col-md-0 col-lg-1 col-xl-3">

    </div>
    <div class="col-md-12 col-lg-10 col-xl-6">
      <div class='col-sm-12 mt-2 card-text'>
        <mat-card >
          
          <h3>Be safe &amp; secure:</h3>
          <p > We highly recommend that you read a guide created by MyEthWallet.com on How to Prevent Loss <a href="https://kb.myetherwallet.com/getting-started/protecting-yourself-and-your-funds.html" target="_blank">Theft for some recommendations on how to be proactive about your security.</a> </p>
          
          <h3>We are not responsible for any loss</h3>
          <p >Ethereum, Eth ToolKit, and some of the underlying Javascript libraries we use are under active development. While we have thoroughly tested &amp; there is always the possibility something unexpected happens that causes your funds to be lost. Please do not invest more than you are willing to lose, and please be careful.</p>
  
          <h3>MIT License</h3>
          <p >Copyright © 2018 ETHToolKit </p>
  
          <p >Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>
  
          <p >The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>
          
          <h3>Disclaimer</h3>
          <p >THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
          <h3>Other Licences</h3>
          <p>Images by <a href="http://www.freepik.com">Designed by rawpixel.com / Freepik</a></p>
          
        </mat-card>
      </div>
    </div>
    <div class="col-md-0 col-lg-1 col-xl-3">

    </div>
  </div>

</div>