<div class="container-fluid">
  <div class="row" >
    <div class="col-md-0 col-lg-1 col-xl-3">

    </div>
    <div class="col-md-12 col-lg-10 col-xl-6">
      <div class='col-sm-12 mt-2'>
        <div class="token">
          <mat-horizontal-stepper (selectionChange)="selectionChange($event)" #stepper 
            [linear]="true">
            <mat-step #stepOne  [completed] = false>
              <ng-template matStepLabel>Token address</ng-template>
              <tokenInfo [step]="stepOne"></tokenInfo>
            </mat-step>
            <mat-step #stepTwo [completed] = false>
              <ng-template matStepLabel>Fill out your airdrop data</ng-template>
              <dataImporter [step]="stepTwo"></dataImporter>
            </mat-step>
            <mat-step #stepThree  [completed] = false>
              <ng-template matStepLabel>Configure</ng-template>
              <dropConfig [step]="stepThree"></dropConfig>
            </mat-step>
            <mat-step #stepFour>
              <ng-template matStepLabel>Run airdrop</ng-template>
              <dropPackage (resetClick)="stepper.reset();reset();" ></dropPackage>
            </mat-step>
          </mat-horizontal-stepper>
        </div>
      </div>
    </div>
    <div class="col-md-0 col-lg-1 col-xl-3">
    </div>
  </div>
 
  <div class="row footer"> 
    <div class="col-md-12 text-center ">
      <a href="/terms" target="_blank">Terms</a>
    </div>
  </div>
</div>