<div class="container-fluid">
  <div class="row" *ngIf="!showIntroduction">
    <div class="col-md-0 col-lg-1 col-xl-3">

    </div>
    <div class="col-md-12 col-lg-10 col-xl-6">
      <div class='col-sm-12 mt-2'>
        <div class="token">
          <mat-horizontal-stepper (selectionChange)="selectionChange($event)" #stepper *ngIf="!noMetamask && !noAccount && !notSupportedNetwork"
            [linear]="true">
            <mat-step #stepOne [stepControl]="tokenInfoForm" [completed] = false>
              <ng-template matStepLabel>Token address</ng-template>
              <tokenInfo [step]="stepOne"></tokenInfo>
            </mat-step>
            <mat-step #stepTwo [completed] = false>
              <ng-template matStepLabel>Fill out your airdrop data</ng-template>
              <dataImporter [step]="stepTwo"></dataImporter>
            </mat-step>
            <mat-step #stepThree [stepControl]="thirdFormGroup" [completed] = false>
              <ng-template matStepLabel>Configure</ng-template>
              <dropConfig [step]="stepThree"></dropConfig>
            </mat-step>
            <mat-step #stepFour>
              <ng-template matStepLabel>Run airdrop</ng-template>
              <dropPackage (resetClick)="stepper.reset();reset();" ></dropPackage>
            </mat-step>
          </mat-horizontal-stepper>
          <div class="mt-4">
            <div *ngIf="!notSupportedNetwork && noAccount && !loading && !noMetamask" class="col-lg-12 col-md-12 col-sm-12 text-center metamask">
              <p><img src="./assets/img/metamask.png" height="200"></p>
              <h2>Please unlock Metamask account</h2>
            </div>
            <div *ngIf="!notSupportedNetwork &&  !loading && noMetamask" class="col-lg-12 col-md-12 col-sm-12 text-center metamask">
              <p><img src="./assets/img/metamask.png" height="200"></p>
              <h2>Please install Metamask</h2>
            </div>
            <div *ngIf="notSupportedNetwork && !loading" class="col-lg-12 col-md-12 col-sm-12 text-center metamask">
              <p><img src="./assets/img/metamask.png" height="200"></p>
              <h2>Current network not supported</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-0 col-lg-1 col-xl-3">

    </div>
  </div>
  <div class="row mt-5 align-items-center justify-content-center" *ngIf="showIntroduction"> 
      <div >
        <mat-card class="dist-start" style="max-width: 300px;min-width: 250px;" (click)="start();">
            <mat-card-header>
                <mat-card-title>Distribute Your tokens</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="./assets/img/dropper.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Import CSV file or type data contains addresses and balances and easly distribute tokens using Metamask na ETHToolKit.
                </p>
              </mat-card-content>
         
        </mat-card>
      </div>
      
  </div>
  <div class="row footer"> 
    <div class="col-md-12 text-center ">
      <a href="/terms" target="_blank">Terms</a>
    </div>
  </div>
</div>